/* not the place to edit slider color */
/* .switch .lever {
    background-color: #fdd835
} */

body {
    font-family: 'Ubuntu', sans-serif;
}

hr {
    border: 2px dotted #fff ;
}

input {
    color: #FFF
}

textarea {
    background-color: #FFF;
    height: 100px;
    width: 500px;
    color: grey;
    border: none;
    resize: none;
    outline: none;
    /* outline-color: #009688; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
    border-radius: 15px
}

#entryCard {
    border-radius: 25px
}

#subBtn {
    border-radius: 20px;
    background-color: #fdd835;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    text-shadow: 3px 3px #FFF;
}